:root{
    --color-primary: #303848;
    --color-secundary: #3d90d2;
    --color-body: #eedece;
    --color-contrast: #fb5235;
}
*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 2rem;
    line-height:  1.5;
    background-color: var(--color-body);
}
/* Inicia nav*/
#main_nav{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    /* background-image: linear-gradient(var(--color-primary),var(--color-secundary)); */
}
.lista_nav{
    list-style: none;
    padding: 1rem;
    display: none;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}
.lista_nav li{
    padding: 1rem;
}
.lista_nav li a, .lista_nav li{
    color: var(--color-body);
    text-decoration: none;
}
.lista_nav li a:hover{
    color: var(--color-contrast);
}
@media screen and (min-width: 768px){
    .lista_nav{
        display: flex;
        width: auto;
        max-width: 100%;
        opacity: 1;
    }
    
}
/* Termina nav*/
/* inicia hero */
.hero{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
@media (min-width: 992px){
    .hero{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        flex-direction: row;       
        padding: 5rem 5rem; 
        margin: 0 auto;
    }
    .img_container{
        min-width: 40%;
        width:fit-content;
        max-width: 50%;
    }
    .img_container img{
        width:max-content;
    }
    .hero_text{
        min-width: 40%;
        width: fit-content;
        max-width: 50%;
    }
}
.img_container{
    max-width: 768px;
}
.img_container img{
    width: 100%;
    position: relative;
    box-shadow: var(--color-primary);
    border-radius: 2rem;
}
.hero_text{
    color: var(--color-primary);
    max-width: 768px;
}
/* termina hero */
/*inicia boton */
.button{
    padding: 2rem 3rem;
    margin: 0 0;
    border-radius: 50px;
    background-color: var(--color-primary);
    color: var(--color-contrast);
    border: 0;
    cursor: pointer;
}
.button:hover{
    background-color: var(--color-secundary);
    color: var(--color-contrast);
}
/*termina boton */
/* inicia footer*/
.lista_foot{
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 2rem;
}
.lista_foot li{
    list-style:none;
}
.lista_foot li a{
    color:var(--color-primary);
    text-decoration: none;
}
.lista_foot li a:hover{
    color: var(--color-body);
}
footer{
    background-color: var(--color-secundary);
    
}
/* termina footer*/
/*Preguntas*/

.Preguntas{
    text-align: center;
}

.contenedor_preguntas{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.preguntas_contorno{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #3d90d2;
    border-radius: 6px;
}

.preguntas_contorno--add{
    padding-bottom: 30px;
}

.preguntas_respuestas{
    padding: 0px 30px 0px;
    overflow: clip;
}

.pregunta_titulo{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 20px 0 20px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.flecha{
    border-radius: 50%;
    background-color: var(--color-primary);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.flecha--rotate{
    transform: rotate(180deg);
}
.respuesta{
    text-align: left;
    height: 0;
    transition: height .3s;
    margin-top: auto;
}

.preguntas_img{
    display: block;
}

/* termina preguntas*/
