body {
  margin: 0em;
  font-family:"Times New Roman";
}
h1,h2,h3,h4{
  font-famyly:Fjalla One, "sans-serif";
}

.cover{
  height:400px;
  background-image:url(https://cdn.glitch.global/50a72d6b-3000-44c4-b36b-4d36187649c7/rsz_3thought-catalog-505eectw54k-unsplash.jpg?v=1654720256968);
  color:#EEEEEE;
  background-size:cover;
  background-position:center;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode:darken;
    
}
.cover-small{
  height:200px;
  background-blend-mode:normal;
}

.card{
  border:0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  }

.card-title{
  min-height:4rem;
}
.card-text{
  min-height:10rem;
}
